@media (max-width: 900px) {
	html {
		overflow-x: hidden;
	}
	header nav {
		display: none;
	}
	.wrap {
		width: 30%;
	}
	.hero_head p {
		width: 400px;
		height: 58px;
		font-size: 25px;
		line-height: 34px;
		text-align: center;
		font-family: sans-serif;
	}
	.hero_head h1 {
		font-size: 75px;
	}
	.hero_footer p {
		width: 480px;
		font-size: 20px;
		line-height: 25px;
	}
	.hero_footer h2 {
		font-size: 36px;
	}
	.github_btns {
		margin-top: 60px;
	}
	.features_first_block {
		height: 1362px;
	}
	.features_block_wrap {
		width: 100%;
	}
	.features_block_wrap {
		display: flex;
		align-items: center;
	}
	.features_second_block {
		display: none;
	}
	.features_img_for_media {
		margin-top: 57px;
		display: block;
	}
	.features_title {
		display: block;
		font-size: 40px;
		width: 500px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 61px;
	}
	.features_contact_user {
		margin-top: 150px;
	}
	.line {
		width: 500px;
	}
	.user_under_text {
		width: 500px;
	}
	.features_media {
		display: flex;
		flex-direction: column;
	}
	.features_media a {
		margin-left: 0px;
	}
	.about_fork {
		height: 1500px;
	}
	.about_fork h2 {
		font-size: 45px;
		line-height: 30px;
		text-align: center;
	}
	.fork_block_wrap {
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 1300px;
		align-items: center;
		justify-content: center;
	}
	.fork_block p {
		width: 400px;
		height: 62px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		line-height: 34px;
		text-align: center;
		margin-top: 30px;
	}
	.fork_block img {
		display: block;
		margin: auto;
	}
	.fork_block {
		width: 400px;
		margin-top: 5rem;
	}
	.fork_subcription {
		height: 2500px;
	}
	.pricing_flex_wrap {
		display: flex;
		flex-direction: column;
		margin-top: -100px;
	}
	.pricing_block {
		margin: 0;
		margin-top: 80px;
	}
	.pricing_under_text {
		width: 480px;
		line-height: 15px;
	}
	.fork_subcription h2 {
		height: 50px;
		color: #ffffff;
		font-size: 35px;
		font-weight: 700;
		line-height: 30px;
		margin-top: 30px;
		text-align: center;
	}
	.newsletter_wrap {
		display: flex;
		flex-direction: column;
		width: 500px;
	}
	.newsletter_maintext {
		display: none;
	}
	.newsletter_mob_text {
		display: block;
		font-size: 30px;
		text-align: center;
		color: #323232;
		font-family: Montserrat;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.newsletter input {
		width: 330px;
	}
	.newsletter button {
		width: 130px;
	}
	.links {
		height: 2000px;
	}
	.links_wrap {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	footer {
		height: 700px;
	}
	footer p {
		font-size: 16px;
	}
	.footer_wrap {
		display: flex;
		flex-direction: column;
		width: 500px;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}
	.footer_info p {
		width: 300px;
	}
	nav a {
		font-size: 18px;
	}
}

@media (max-width: 481px) {
	html {
		overflow-x: hidden;
	}
	header nav {
		display: none;
	}
	.hero_head p {
		width: 300px;
		height: 58px;
		font-size: 21px;
		line-height: 34px;
		text-align: center;
		font-family: sans-serif;
	}
	.hero_head h1 {
		font-size: 65px;
	}
	.btn_hero {
		width: 300px;
	}
	.btn_top {
		margin-left: 20%;
		width: 110px;
	}
	.hero_head {
		background-image: url(../img/img480.png);
	}
	.hero_footer h2 {
		font-size: 35px;
		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px
	}
	.hero_footer p {
		width: 300px;
		font-size: 15px;
		line-height: 20px;
	}
	.github_btns img {
		width: 300px;
		margin-top: 38px;
	}
	.features_img {
		display: none;
	}
	.features_second_block {
		margin-top: 0;
	}
	.features_fist_block {
		height: 1362px;
	}
	.features_block {
		width: 300px;
	}
	.features_block_wrap {
		width: 100%;
	}
	.features_block img {
		height: 80px;
		width: 80px;
	}
	.features_block p {
		width: 200px;
		font-size: 12px;
		line-height: 20px;
	}
	.features_block_wrap {
		display: flex;
		align-items: center;
	}
	.features_second_block {
		display: none;
	}
	.features_title {
		display: block;
		font-size: 30px;
		width: 300px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 61px;
	}
	.features_img_for_media {
		margin-top: 57px;
		display: block;
	}
	.features_contact_user {
		margin-top: 150px;
	}
	.line {
		width: 300px;
	}
	.user_under_text {
		width: 300px;
	}
	.features_media {
		display: flex;
		flex-direction: column;
	}
	.features_media a {
		margin-left: 0px;
	}
	.about_fork {
		height: 1500px;
	}
	.about_fork h2 {
		font-size: 35px;
		line-height: 30px;
		text-align: center;
	}
	.fork_block_wrap {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 1300px;
		align-items: center;
		justify-content: center;
	}
	.fork_block p {
		width: 300px;
		height: 62px;
		color: #ffffff;
		font-size: 13px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		margin-top: 30px;
	}
	.fork_block img {
		display: block;
		margin: auto;
	}
	.fork_block {
		width: 300px;
		margin-top: 5rem;
	}
	.fork_subcription {
		height: 2500px;
	}
	.pricing_flex_wrap {
		display: flex;
		flex-direction: column;
	}
	.pricing_block {
		margin: 0;
		margin-top: 50px;
	}
	.pricing_under_text {
		width: 300px;
		line-height: 15px;
	}
	.fork_subcription h2 {
		height: 50px;
		color: #ffffff;
		font-size: 35px;
		font-weight: 700;
		line-height: 30px;
		margin-top: 30px;
		text-align: center;
	}
	.newsletter_wrap {
		display: flex;
		flex-direction: column;
		width: 300px;
	}
	.newsletter_maintext {
		display: none;
	}
	.newsletter_mob_text {
		display: block;
		font-size: 25px;
		text-align: center;
		color: #323232;
		font-family: Montserrat;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.newsletter input {
		width: 180px;
	}
	.newsletter button {
		width: 90px;
	}
	.links_wrap {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20px;
	}
	.links h4 {
		font-size: 15px;
	}
	footer {
		height: 700px;
	}
	.footer_wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-left: 30px;
	}
	.footer_info p {
		width: 270px;
	}
}