body {
	font-family: sans-serif;
}

header {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 104px;
}

.logo {
	display: flex;
	align-items: center;
}

.wrap {
	display: flex;
	align-items: center;
	width: 60%;
}

.menu ul {
	display: flex;
}

.menu li {
	margin-right: 3rem;
}

a {
	text-decoration: none;
	width: 498px;
	height: 16px;
	color: #635c73;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 15px;
}

.btn_top {
	width: 145px;
	height: 38px;
	background-color: #8d81ac;
	border-radius: 100px;
	border: none;
	color: #fff;
}
.hero_head {
	height: 100vh;
	background-image: url(../img/img.png);
	background-position: center;
	background-size: cover;
	display: flex;
	color: white;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.hero_head h1 {
	color: #ffffff;
	font-size: 82px;
	font-weight: 700;
}

.hero_head p {
	width: 693px;
	height: 28px;
	color: #8d81ac;
	font-family: Lato;
	font-size: 30px;
	font-weight: 400;
	line-height: 20.45px;
	margin-top: 1rem;
}

.hero_head span {
	width: 261px;
	height: 13px;
	color: #848e97;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.45px;
	text-transform: uppercase;
	margin-top: 1rem;
}

.hero_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

.btn_hero {
	width: 390px;
	height: 62px;
	background-color: #8d81ac;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: -31px;
}

.hero_footer {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero_footer span {
	width: 214px;
	height: 15px;
	color: #848e97;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
}

.hero_footer h2 {
	height: 40px;
	color: #635c73;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 66px;
}

.hero_footer p {
	width: 878px;
	height: 51px;
	opacity: 0.8;
	color: #323232;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	margin-top: 39px;
}

.github_btns {
	margin-top: 36px;
	margin-bottom: 70px
}

.features_first_block {
	background-color: #f4f4f4;
	height: 711px;
}

.features_block_wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 45%;
	margin-top: 60px;
}

.features_title {
	display: none;
	width: 556px;
	height: 48px;
	color: #8d81ac;
	font-size: 48px;
	font-weight: 700;
	line-height: 20.45px;
}

.features_block {
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.marg {
	margin-left: 15px;
}

.features_block img {
	display: flex;
	align-self: baseline;
	margin-right: 15px;
}

.features_block h3 {
	color: #323232;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px
}

.features_block p {
	width: 350px;
	height: 78px;
	color: #848e97;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 18px;
}

.features_wrap {
	display: flex;
}

.features_second_block h2 {
	width: 556px;
	height: 48px;
	color: #8d81ac;
	font-size: 48px;
	font-weight: 700;
	line-height: 20.45px;
}

.features_second_block {
	margin-top: 84px;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 60px;
}

.features_img_for_media {
	display: none;
	height: 580px;
	width: 100%;
	background-image: url(../img/editor.png);
	background-size: cover;
	border-radius: 30px;
}

.features_img {
	height: 650px;
	width: 100%;
	background-image: url(../img/editor.png);
	background-size: cover;
	border-radius: 30px;
}

.features_contacts_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.features_contact_user {
	display: flex;
	margin-top: 80px;
}

.features_contacts_text {
	margin-left: 25px;
}

.features_contacts_text h3 {
	width: 186px;
	height: 23px;
	color: #635c73;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.features_contacts_text span {
	width: 79px;
	height: 15px;
	color: #8d81ac;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.user_under_text {
	width: 750px;
	text-align: center;
	margin-top: 35px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	margin-top: 56px;
	width: 800px;
	border: 1px solid #c7c7c7;
	opacity: 0.2;
}

.user_email {
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #8d81ac;
}

.time {
	width: 91px;
	height: 16px;
	color: #848e97;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	margin-top: 15px;
}

.features_media {
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

.features_media a {
	width: 240px;
	height: 50px;
	text-align: center;
	display: flex;
	align-items: center;
	margin-left: 50px;
	border-radius: 5px;
}

.features_media label {
	color: #848e97;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 32px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.features_media img {
	margin-left: 10%;
}

.features_media span {
	margin-left: 20%;
	font-family: sans-serif;
	font-size: 21px;
	line-height: 32px;
}

.github {
	background-color: #f3f3f3;
	color: black;
	font-weight: 700;
}

.twitter {
	background-color: #26a6d1;
	color: #fff;
	font-weight: 400;
}

.facebook {
	background-color: #3b5998;
	color: #fff;
	font-weight: 400;
}

.btn_media {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about_fork {
	background: #4b3b4e;
	height: 100vh;
	background-image: url(../img/Layer_1.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about_fork h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: 20.45px;
	margin-top: 98px;
}

.fork_block {
	width: 326px;
}

.fork_block p {
	width: 326px;
	height: 62px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	margin-top: 50px;
}

.fork_block img {
	display: block;
	margin: auto;
}

.fork_block_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70%;
	flex-wrap: wrap;
	width: 1200px;
}

.fork_subcription {
	background: #4b3b4e;
	height: 100vh;
	background-image: url(../img/Layer_2.png);
	background-size: cover;
	display: flex;
	align-items: center;
	background-position: center;
	flex-direction: column;
	justify-content: space-around;
}

.fork_subcription h2 {
	height: 50px;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: 20.45px;
	margin-top: 30px;
}

.pricing_flex_wrap {
	display: flex;
}

.pricing_block {
	width: 257px;
	height: 457px;
	background-color: rgba(255, 255, 255, 0.11);
	margin-left: 30px;
}

.pricing_block_head {
	background-color: rgb(255, 255, 255, 0.06);
	width: 257px;
	height: 97px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pricing_block_head h3 {
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 20.45px;
	text-transform: uppercase;
}

.pricing_block_main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing_block_main a {
	width: 160px;
	height: 42px;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 100px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	margin-top: 35px;
}

.money {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 90.28px;
	text-transform: uppercase;
	font-family: "Montserrat - Bold";
}

.month {
	opacity: 0.3;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 90.28px;
	text-transform: uppercase;
	border-bottom: 3px solid #8d81ac;
}

.pricing_block_main p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	margin-top: 31px;
	text-align: center;
}

.pricing_under_text {
	width: 862px;
	height: 34px;
	opacity: 0.8;
	color: #a291a5;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
}

.pricing_block:hover {
	background: rgba(57, 45, 61, 0.3);
	transform: scale(1.15);
	transition: .2s;
	transition-timing-function: ease-out;
}

.newsletter {
	height: 134px;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter_mob_text {
	display: none;
}

.newsletter_maintext {
	color: #635c73;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
}

.newsletter_wrap {
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.newsletter_reg {
	display: flex;
	align-items: center;
}

.newsletter input {
	width: 335px;
	height: 42px;
	background-color: #ffffff;
	border-radius: 40px;
	border: none;
}

.newsletter button {
	width: 140px;
	height: 42px;
	background-color: #8d81ac;
	color: white;
	border-radius: 100px;
	margin-left: 20px;
	font-size: 700;
	border: none;
	text-transform: uppercase;
}

.links {
	display: flex;
	justify-content: center;
	height: 730px;
}

.links_wrap {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #c7c7c7;
}

.links_block_one {
	width: 300px;
}

.links h3 {
	color: #d3d1da;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 58px;
	margin-top: 79px;
}

.links h4 {
	color: #323232;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.links p {
	width: 280px;
	color: #848e97;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 20px;
}

.links_block_one_btn {
	margin-top: 48px;
}

.links button {
	height: 35px;
	background-color: #f4f4f4;
	color: #8d81ac;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	border: none;
}

.links_block_two h4 {
	color: #8d81ac;
}

.links_block_two_btn {
	margin-top: 40px;
}

.links_block_three h4 {
	width: 300px;
	color: #8d81ac;
}

.links_block_three_btn {
	margin-top: 40px;
}

footer {
	height: 329px;
	display: flex;
	justify-content: center;
}

.footer_wrap {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	color: #848e97;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

footer img {
	margin-bottom: 20px;
}

footer h4 {
	color: #323232;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.32px;
}

nav a {
	color: #8d81ac;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.3px;
}

.footer_addres h3 {
	color: #3f3f3f;
	font-size: 30px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.6px;
}

.footer_logo p {
	width: 253px;
}

.addres_street {
	width: 221px;
	margin-top: 20px;
}

.addres_street h4,
nav h4,
.footer_info h4 {
	margin-bottom: 10px;
}

.footer_info p {
	width: 247px;
}

.btn_top:hover,
.btn_hero:hover,
.newsletter button:hover,
.links button:hover,
.wrap a:hover,
footer a:hover {
	background-color: #7a6c9c;
	color: #fff;
}

.btn_media a:hover {
	transform: scale(1.15);
	transition: .2s;
}